<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="../js/unpkg.com_axios@1.4.0_dist_axios.min.js"></script>
    <script src="../js/producto.js"></script>
    <title>Producto</title>
</head>
<body>
    <div>
        <h1>Productos</h1>
    </div>
    <div>
        <label for="nombre">Nombre</label>
        <input type="text" name="txtNombre" id="txtNombre">
    </div>
    <div>
        <label for="cantidad">Cantidad</label>
        <input type="text" name="txtCantidad" id="txtCantidad">
    </div>
    <button onclick="create()">Saludar</button>
</body>
</html>